modules = ["nodejs-20", "web"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "autoscale"
run = ["node", "api-server.mjs"]
build = ["npm", "run", "build"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node api-server.mjs & npm run dev"
waitForPort = 5000

[[ports]]
localPort = 3001
externalPort = 6000

[[ports]]
localPort = 5000
externalPort = 5000

[[ports]]
localPort = 5001
externalPort = 4200

[[ports]]
localPort = 5002
externalPort = 80

[[ports]]
localPort = 5003
externalPort = 3000

[[ports]]
localPort = 5004
externalPort = 3001

[[ports]]
localPort = 5005
externalPort = 3002

[[ports]]
localPort = 5006
externalPort = 3003

[userenv]

[userenv.shared]
DROPMAIL_AUTH_TOKEN = "af_AQVp2QPNbPBl_iVoSYCIYWpEPYHtzkHOFd95EVtE"
